<?xml version='1.0' encoding='utf-8'?>
<widget id="work.gestor2.www" version="1.0.22" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>App Inventarios</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="AndroidGradlePluginVersion" value="8.3.0" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <preference name="android-versionName" value="1.0.21" />
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="35" />
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        </config-file>
    </platform>
    <plugin name="cordova-plugin-camera-preview" />
    <plugin name="cordova-plugin-camera" />
    <plugin name="cordova-sqlite-storage" />
    <plugin name="cordova-plugin-insomnia" />
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-file" />
</widget>
